@import 'bootstrap-reboot.rtl.css';
@import 'bootstrap-grid.rtl.css';
@import '~vazir-font/dist/font-face.css';

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
textarea {
  font-family: 'Vazir';
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.h-100 {
  height: 100vh;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
  min-height: 150px;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}

.footer {
  background-color: #f5f5f5;
}
